Flask==0.10.1
Flask-Bootstrap==3.2.0.2
Flask-Cors==1.5.0
Flask-SQLAlchemy==1.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.7
WTForms==2.0.1
Werkzeug==0.9.6
aniso8601==0.82
-e git+https://github.com/LACMTA/flask-peewee.git@848a2dd5b747e1d64ec28bde8dd27b0c9ededafc#egg=flask_peewee-master
itsdangerous==0.24
latimes-statestyle==0.1.2
peewee==2.2.5
pytz==2014.4
simplejson==3.6.0
six==1.7.3
wsgiref==0.1.2
wtf-peewee==0.2.3
